# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["lo"]}}
{% if node[inventory_hostname]["mlag"]["anycast-ip"] is defined %}
   clagd-vxlan-anycast-ip {{ node[inventory_hostname]["mlag"]["anycast-ip"] }}
{% endif %}

auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto


{% for interface in node[inventory_hostname]["ports"] -%}
auto {{interface}}
iface {{interface}}
   {% if node[inventory_hostname]["ports"][interface]["mtu"] is defined %}
   mtu {{ node[inventory_hostname]["ports"][interface]["mtu"] }}
   {% else %}
   mtu 9216
   {% endif %}
  {% if node[inventory_hostname]["bond_member"] is defined %}
   post-up ip link set swp49 promisc on
  {% endif %}

{% endfor %}

{% if node[inventory_hostname]["mlag"] is defined %}
iface peerlink
  mtu 9216
  bond-slaves {{ node[inventory_hostname]["mlag"]["peerlink"] | join(" ") }}

auto peerlink.4094
iface peerlink.4094
  address {{ node[inventory_hostname]["mlag"]["address"] }}
  clagd-peer-ip {{ node[inventory_hostname]["mlag"]["peer-ip"] }}
  clagd-backup-ip {{ node[inventory_hostname]["mlag"]["backup-ip"] }}
  clagd-sys-mac {{ node[inventory_hostname]["mlag"]["sysmac"] }}

{% for bond in node[inventory_hostname]["bonds"] -%}
auto {{bond}}
iface {{bond}}
  mtu 9000
  bond-slaves {{ node[inventory_hostname]["bonds"][bond]["members"] | join(" ") }}
  bridge-access {{ node[inventory_hostname]["bonds"][bond]["vlans"] | join (" ") }}
  clag-id {{ node[inventory_hostname]["bonds"][bond]["mlag_id"]}}

{% endfor %}

{% set vlans = node[inventory_hostname] ["bridge"]["vlans"] %}
auto bridge
iface bridge
  bridge-vlan-aware yes
  bridge-ports {{ node[inventory_hostname]["bridge"]["ports"] | join(" ") }} vni{{ vlans | join(" vni") }} 
  bridge-vids {{ vlans | join(" ") }}

{% for vlan in vlans %}
auto vni{{ vlan }}
iface vni{{ vlan }}
  mtu 9000
  vxlan-id {{ vlan }}
  vxlan-local-tunnelip {{ node[inventory_hostname]["mlag"]["anycast-ip"] }} 
  bridge-access {{ vlan }}
  bridge-learning off
  mstpctl-bpduguard yes
  mstpctl-portbpdufilter yes
  bridge-arp-nd-suppress on

auto vlan{{ vlan }}
iface vlan{{ vlan }}
  address 172.16.{{ vlan }}.{{ node[inventory_hostname]["lo"].split("/")[0][:1] }}/24
  address-virtual 44:39:39:ff:00:13 192.168.{{ vlan }}.1/24
  vlan-raw-device bridge
  
{% endfor %}

{% endif %}