{% set vlans = node[inventory_hostname] ["bridge"]["vlans"] %}
# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["lo"]}}
{% if node[inventory_hostname]["mlag"]["anycast-ip"] is defined %}
   clagd-vxlan-anycast-ip {{ node[inventory_hostname]["mlag"]["anycast-ip"] }}
{% endif %}

auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

{% for vrf in node[inventory_hostname]["vrfs"] %}
auto vrf-{{ vrf }}
iface vrf-{{ vrf }}
    vrf-table auto
    
{% endfor %}

{%-  for interface in node[inventory_hostname]["ports"] -%}
auto {{interface}}
iface {{interface}}
   {% if node[inventory_hostname]["ports"][interface]["mtu"] is defined -%}
   mtu {{ node[inventory_hostname]["ports"][interface]["mtu"] }}
   {% else -%}
   mtu 9216
   {%- endif -%}
  {% for bond in node[inventory_hostname]["bonds"] -%}
    {%- for member in node[inventory_hostname]["bonds"][bond]["members"] -%}
      {%- if member == interface -%}
   post-up ip link set {{ interface }} promisc on
      {% endif -%}
    {%- endfor -%}
   {%- endfor %}

  {% for member in node[inventory_hostname]["mlag"]["peerlink"] -%}
    {%- if member == interface -%}
   post-up ip link set {{ interface }} promisc on
    {% endif -%}
   {%- endfor %}

{% endfor %}

{% if node[inventory_hostname]["mlag"] is defined %}
iface peerlink
  mtu 9216
  bond-slaves {{ node[inventory_hostname]["mlag"]["peerlink"] | join(" ") }}

auto peerlink.4094
iface peerlink.4094
  address {{ node[inventory_hostname]["mlag"]["address"] }}
  clagd-peer-ip {{ node[inventory_hostname]["mlag"]["peer-ip"] }}
  clagd-backup-ip {{ node[inventory_hostname]["mlag"]["backup-ip"] }}
  clagd-sys-mac {{ node[inventory_hostname]["mlag"]["sysmac"] }}

{% for bond in node[inventory_hostname]["bonds"] -%}
auto {{bond}}
iface {{bond}}
  mtu 9000
  bond-slaves {{ node[inventory_hostname]["bonds"][bond]["members"] | join(" ") }}
  bridge-access {{ node[inventory_hostname]["bonds"][bond]["vlans"] | join (" ") }}
  clag-id {{ node[inventory_hostname]["bonds"][bond]["mlag_id"]}}

{% endfor %}

auto bridge
iface bridge
  bridge-vlan-aware yes
  bridge-ports {{ node[inventory_hostname]["bridge"]["ports"] | join(" ") }} vni{{ vlans | join(" vni") }} vxlan-tunnel{{ vlans | join(" vxlan-tunnel") }} {% for vrf in node["leaf01"]["vrfs"] %} vxlan-tunnel-{{ vrf }} {%- endfor -%}
  bridge-vids {{ vlans | join(" ") }}

{% for vlan in vlans %}
auto vxlan-tunnel{{ vlan }}
iface vxlan-tunnel{{ vlan }}
  mtu 9000
  vxlan-id {{ vlan }}
  vxlan-local-tunnelip {{ node[inventory_hostname]["mlag"]["anycast-ip"] }} 
  bridge-access {{ vlan }}
  bridge-learning off
  mstpctl-bpduguard yes
  mstpctl-portbpdufilter yes
  bridge-arp-nd-suppress on

auto vlan{{ vlan }}
iface vlan{{ vlan }}
  {% for vrf in node[inventory_hostname]["vrfs"] -%}
      {%- if vlan == node[inventory_hostname]["vrfs"][vrf]["vlan_member"] -%}
   vrf vrf-{{ vrf }}
      {% endif -%}
   {%- endfor %}
  address 172.16.{{ vlan }}.{{ node[inventory_hostname]["lo"].split("/")[0][:1] }}0/24
  address-virtual 44:39:39:ff:00:13 172.16.{{ vlan }}.1/24
  vlan-raw-device bridge
{% endfor %}

{% for vrf in node[inventory_hostname]["vrfs"] %}
auto vxlan-tunnel-{{ vrf }}
iface vxlan-tunnel-{{ vrf }}
   vxlan-id {{ node[inventory_hostname]["vrfs"][vrf]["vlan_member"] | int + 1 }}
   vxlan-local-tunnelip {{ node[inventory_hostname]["mlag"]["anycast-ip"] }} 
   bridge-learning off
   bridge-access {{ node[inventory_hostname]["vrfs"][vrf]["vlan_member"] | int + 1 }}

auto vlan{{ node[inventory_hostname]["vrfs"][vrf]["vlan_member"] | int + 1 }}
iface vlan{{ node[inventory_hostname]["vrfs"][vrf]["vlan_member"] | int + 1 }}
  hwaddress {{ node[inventory_hostname]["vrfs"][vrf]["mac"] }}
  vlan-id {{ node[inventory_hostname]["vrfs"][vrf]["vlan_member"] | int + 1 }}
  vrf {{ vrf }}

{% endfor %}


{% endif %}